.BoardPreview {
  position: relative;

  display: block;
  width: calc(33.33333% - 40px);
  margin: 20px;
  height: 200px;
  padding: 10px;

  color: #283593;
  font-weight: bold;
  font-size: 24px;
  
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
  border-radius: 3px;
  text-decoration: none;

  transition: all .3s ease;
}

.BoardPreview:hover {
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.397);  
}

.BoardPreview::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 4px;

  background-image: linear-gradient(45deg, #df40fb, #42a4f5);
}

@media screen and (min-width: 1100px) {
  .BoardPreview {
    width: calc(25% - 40px);
  }
}

.BoardPreview .Trash {
  position: absolute;
  bottom: 10px;
  right: 10px;
  
  width: 32px;
  height: 32px;

  background-image: url('../../assets/img/icons/trash-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}